page-contact-details {
   div{
       display: inline;
       text-align: center;
       box-sizing: content-box;
   }

   p:hover{
       color: black;
   }

   ion-header{
       font: 1em sans-serif, arial;
       text-transform: uppercase;
   }
}